@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Basic default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* App Styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  border: none;
  border-top: solid 1px rgb(129, 129, 129);
  border-right: solid 1px rgb(129, 129, 129);
}
.screen {
  max-width: 280px;
  font-size: 30px;
  background-color: rgb(28, 25, 28);
  height: 80px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.previous-input {
  margin: 0 5px;
  float: right;
  font-size: 14px;
}
.input {
  margin: 0 5px;
  float: right;
}
.small-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-size: 17px;
}
.big-button {
  width: 140px;
  height: 70px;
  cursor: pointer;
  font-size: 17px;
}

/* button colors and when active colors */
.white {
  background-color: rgb(224, 224, 231);
}
.white:active {
  background-color: rgb(191, 191, 197);
}
.orange {
  background-color: rgb(252, 155, 24);
  color: white;
  border-right: none;
}
.orange:active {
  background-color: rgb(213, 130, 19);
}
.grey {
  background-color: rgb(200, 200, 204);
}
.grey:active {
  background-color: rgb(170, 169, 174);
}